<div class="animation-container"></div>
<div class="animation-container3"></div>
<img class="logo-img" src="./assets/img/Logo.png" alt="LOGO" />
<span id="dabubble">DABubble</span>

<div class="login-container">
  <app-header></app-header>
  <div id="mobile-header">
    <a style="text-decoration: none; color: black" routerLink="/singup"
      ><app-logo></app-logo
    ></a>
  </div>

  <mat-card>
    <mat-card-header>
      <h2>Anmeldung</h2>
      <h3>
        Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
        verwendest.
      </h3>
    </mat-card-header>
    <mat-card-content>
      <form
        id="login-card-container"
        #myForm="ngForm"
        (ngSubmit)="onSubmit(myForm)"
      >
        <div id="inputs-container">
          <div class="inputFields-container email-input-container">
            <mat-icon fontIcon="mail_outline"></mat-icon>
            <input
              type="email"
              id="email"
              class="login-inputs"
              name="email"
              placeholder="beispielname@email.com"
              [(ngModel)]="inputMail"
              required
              email
            />
            <div class="validation-container">
              <div *ngIf="myForm.controls['email']?.errors?.['email']">
                Ungültige E-Mail-Adresse.
              </div>
            </div>
          </div>

          <div class="inputFields-container password-input-container">
            <mat-icon fontIcon="lock_outline"></mat-icon>

            <input
              type="password"
              id="password"
              class="login-inputs"
              placeholder="Passwort"
              name="password"
              [(ngModel)]="inputPassword"
              required
              minlength="6"
            />

            <div class="validation-container">
              <div
                *ngIf="
                  !loginstatus &&
                  myForm.submitted &&
                  myForm.form.controls['password']?.valid &&
                  myForm.form.controls['password']?.touched
                "
              >
                Falsches Passwort oder E-Mail. Bitte versuche es noch einmal.
              </div>
            </div>
          </div>
          <a class="purple-link link-bg-effect" routerLink="/forgotpassword"
            >Passwort vergessen?</a
          >
        </div>
        <!-- =========== ----------oder----------- =========== -->



        <div class="buttons-container">
          <button type="submit" class="main-btn purple1-btn">Anmelden</button>
          <button
            (click)="loginGuest()"
            routerLink="/board"
            class="main-btn white-btn"
          >
            Gäste-Login
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <app-footer ></app-footer>
  <div  id="mobile-footer">
    <div>
      <p style="padding: 5px 15px 5px 15px">Neu bei DABubble?</p>
      <a class="purple-link link-border-effect" routerLink="/createaccount"
        >Konto erstellen</a
      >
    </div>
  </div>
</div>
